

<mat-toolbar class="group-nav">
  <h1 class="groupname">GroupName</h1>

</mat-toolbar>

<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}
      <i mat-button color="primary" class="material-icons" >delete</i>
    </div>
    <button mat-button color="primary">add new task</button>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done2</h2>
  <h3>{{doneitems}}</h3>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done2"
    [cdkDropListConnectedTo]=""
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done2" cdkDrag>{{item}}</div>
  </div>
</div>
