<div class="example-container" >

    <h2  >{{status.statusText}}</h2>


        <app-task [tasks]="status.taskList" [statusList]="statusList"  (refresh)="refreshPage($event)">
        </app-task>

        <button   mat-button color="primary" (click)="addTask()"  >add new task</button>
    <div *ngIf="(addTaskBo)" >


        <!-- Create Task Form -->
        <div  [formGroup]="createTaskForm" #createTaskForm="ngForm" >
            <mat-form-field>
                <input matInput  formControlName="taskText"  >
                <mat-hint>
                    Only user number and letters and _
                </mat-hint>
                <mat-error *ngIf="taskText.invalid && taskText.touched">
                    Your task name doesn't look right
                </mat-error>
            </mat-form-field>

            <button mat-raised-button type="submit"   [disabled]="createTaskForm.valid">Add</button>

        </div>
        <p>
            Form Value: {{ createTaskForm.value | json}}
        </p>

    </div>

</div>
