<div class="example-container" >

    <h2  >{{status.statusText}}</h2>

    <div class="deleteBtn">
        <button mat-mini-fab  color="warn" aria-label="Example icon button with a menu icon" (click)="deleteStatus(status.id)" >
            <mat-icon>delete</mat-icon>
        </button>
    </div>


        <app-task [tasks]="status.taskList" [statusList]="statusList"  (refresh)="refreshPage($event)">
        </app-task>
        <button   mat-button color="primary" (click)="addTask()">add new task</button>

    <div *ngIf="(addTaskBo)" >
        <form class="example-form"  [formGroup]="addTaskForm" (ngSubmit)="addTask()">
            <mat-form-field>
                <mat-label>Task name</mat-label>
                <input matInput id="taskName" formControlName="taskName" name="taskName"  required pattern="[a-zA-Z0-9-]+"
                       placeholder="Ex. Testing Back-End">
                <mat-hint></mat-hint>
                <div *ngIf="taskName.invalid && taskName.touched">
                <mat-error *ngIf="taskName.errors?.required">
                    Task name is  required
                </mat-error>
                    <mat-error *ngIf="taskName.errors?.pattern">
                        Pleas Enter only letters and numbers
                    </mat-error>
            </div>
            </mat-form-field>
            <button mat-button color="primary" type="submit" [disabled]="addTaskForm.invalid">Add Task</button>
        </form>
    </div>
</div>
