
    <div
            class="example-list"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="tasks"
            (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let task of tasks" cdkDrag>{{task.taskText}}
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="deleteTask(task.id)" routerLink="/dashboard/{{id}}">
                <mat-icon>delete</mat-icon>
            </button>
        </div>



    </div>


